/* enable absolute positioning */
.inner-addon {
    position: relative;
}

/* style icon */
.inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.auth-bg {

}


.auth-container {
    width: 67vw;
    border-radius: 10px;
}

.auth-side {
    width: 40%;
}

.auth-form {
    min-width: 360px;
    padding: 1rem;
    overflow: hidden;
}

.auth-form-group {
    max-width: 360px;
}

.auth-field {
    background: #F4F8F7 !important;
    height: 50px;
    border: none;
    border-radius: 0;
    color: #989B9A;
}

.auth-submit-button {
    background: #3AB19B;
    text-transform: uppercase;
    font-family: 'Roboto', serif;
    font-weight: 900;
}

.auth-side-button {
    text-transform: uppercase;
    font-weight: 900;
    width: 100%;
}

@media screen and (min-width: 1200px) {
    .auth-side-button {
        width: auto;
        padding-left: 4rem !important;
        padding-right: 4rem !important;
    }
}

.auth-header-text {
    font-family: 'Comfortaa', serif;
    font-weight: 400;
    font-size: 27px;
}


.auth-login-container,
.auth-register-container {
    position: relative;
    transition: all 0.7s ease-out;
    overflow: hidden;
    flex: 2;
    height: 80.8vh;
    border-radius: 10px;
    background: white;
    box-shadow: 0 0 0 1px white;
}

.auth-sub-container {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hidden-container {
    flex-grow: 0 !important;
    box-shadow: none;
}