.news-slider {
    height: 500px;
    display: flex;
    gap: 1rem;
    overflow-x: scroll;
}

.news-slider::-webkit-scrollbar {
    height: 5px;
}

.news-slider::-webkit-scrollbar-thumb {
    background: #62a185;
}

.news-component {
}

.news-content {
    width: 420px;
    height: 420px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.news-image {

}

.news-title {
    font-family: 'Comfortaa', serif;
    font-size: 24px;
    font-weight: bold;
    color: white;
    padding: 2rem 3rem 0.5rem;
    text-align: center;
    text-transform: uppercase;
}

.news-footer {
    padding-top: 1rem;
    display: flex;
    align-items: center;
}

.author-avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 0.5rem;
}

.author {
    margin: 0;
    size: 13px;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 0.3rem;
}

.author-nickname {
    margin: 0;
    size: 11px;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
}